.socialCarousel {
  max-width: 1280px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1.8rem;
  --slide-size: 22%;
}
.socialCarousel__viewport {
  overflow: hidden;
  position: relative;
}
.socialCarousel__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.socialCarousel__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.socialCarousel__slide__number {
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  height: 481px;
  align-items: center;
  justify-content: center;
  user-select: none;
}


.socialCarouselTitle {
  color: #7EB4C8;
  font-size: 75px;
  margin: 0;
  display: block;
  position: absolute;
  z-index: 5;
  top: 43px;
  left: 228px;
}

.socialCarouselParagraph {
  font-size: 20px;
  color: #373737;
  display: block;
  max-width: 500px;
  margin: 0 0 54px 234px;
}

.InstagramArrowButtons__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.InstagramArrowButtons__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.InstagramArrowButtons__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .InstagramArrowButtons__button__svg {
  width: 35%;
  height: 35%;
} */


/* .InstagramArrowButtons__button--prev {
  position: absolute;
  top:-250px;
  z-index: 1500;
  left: 15px;
}
.InstagramArrowButtons__button--next {
  position: absolute;
  right: 15px;
  top:-250px;
  z-index: 1500;
}

.instagram__buttons {
  position: relative;
} */