.embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 90%;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .img-carousel {
    object-fit: cover;
    width: 100%;
  }

  .embla__button {
  position: absolute;
  top: 45%;
  padding: 25px;
  background-color: transparent;
  border: none;
}
.embla__button--prev {
  left: 7%;
}
.embla__button--next {
  right: 7%;
}


.embla__button--next > svg {
  transform: rotate(180deg);
}

.embla__dots {
  position: absolute; 
  width: 100%;
  bottom: 5%;
  left: 15%;
  display: flex;
  gap: 20px;
}


.embla__dot {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  border: none;
}

.ctaCarousel {
  position: absolute;
  bottom: 95px;
  left: 490px;
}

.ctaCarouselBTN {
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 60px;
  text-align: center;
  background-color: black;
  transition: ease 0.4s;
}

.ctaCarouselBTN:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}